@import "Colors";

.Cell {
  align-self: center;
  height: 12px;
  width: 12px;
  padding: 5px;
  margin: 1px;
  font-size: 8px;
  border-radius: 12px;
  background-color: $darkGrey;
  color: white;
}
.selected {
  background-color: $green;
  color: $lightGrey;
}
.given {
  background-color: $lightGrey;
  color: white;
}
