@import "Colors";

.Divider {
  background-color: $green;
}
.vertical {
  height: 30px;
  width: 1px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: $greyGreen;
}
.vertical_em {
  height: 43px;
  width: 1px;
}
.horizontal {
  height: 1px;
  width: 30px;
  margin-left: 7px;
  margin-right: 6px;
  background-color: $greyGreen;
}
.horizontal_em {
  height: 1px;
  width: 43px;
}
