@import "Cell";
@import "Divider";
@import "Colors";
@import "NumSelector";
@import "Board";

body {
  background-color: $darkGrey;
  .App {
    display: flex;
    flex-direction: row;
    text-align: center;

    h2 {
      color: white;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ThreeD {
  align-self: center;
  width: 800px;
  height: 800px;
}
