@import "Cell";
@import "Divider";
@import "Colors";

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $darkGrey;
  .Board {
    display: flex;
    margin: 5px;
    justify-content: center;
    flex-direction: column;
    .row {
      display: flex;
      justify-content: center;
    }
  }
}
